/* Reset Code Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Azeret Mono;
}
/* Reset Code End */
/* Header Section Code Start Here */
/* Navigation Bar Code Start Here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
nav h2 {
  font-size: 28px;
  font-weight: 700;
}
nav button {
  padding: 10px 25px;
  border-radius: 10px;
}
nav button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
/* Navigation Bar Code End Here */
/* Banner Section Code Start Here */
#banner-section {
  width: 100%;
  height: 100vh;
  background-image: url(assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 150px;
}
#banner-section h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 68px;
}
#banner-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 20px;
  padding-top: 24px;
  padding-bottom: 55px;
}
#banner-section a {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  background-color: #000000;
  border-radius: 10px;
  text-decoration: none;
}
#banner-section a:hover {
  background-color: #70a1ff;
}
#banner-section img {
  padding-top: 60px;
  padding-bottom: 30px;
}
/* Banner Section Code End Here */
/* Header Section Code End Here */
/* Web Development Details Section Code Start Here */
#web-development-details-section {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(13, 19, 33, 0.02);
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 60px;
  border-radius: 15px;
}
.web-development-details-parent-contain {
}
.web-development-details-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 45px;
}
.web-development-details-title h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  padding-bottom: 25px;
}
.web-development-details-title p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  padding: 0 10%;
}
.web-development-details-single-div-one,
.web-development-details-single-div-two,
.web-development-details-single-div-three {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  margin-bottom: 35px;
  border-radius: 15px;
  padding: 40px 30px;
}
.WDD-single-div-text {
  width: 60%;
  text-align: justify;
  margin: 0 auto;
}
.WDD-single-div-text h3 {
  color: #0d1321b3;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 16px;
}
.WDD-single-div-text p {
  color: #0d1321b3;
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 32px;
}
.WDD-single-div-text button {
  color: #0d1321;
  font-size: 20px;
  line-height: 23px;
  padding: 10px 25px;
  cursor: pointer;
}
/* Web Development Details Section Code End Here */
/* My Inspiration Section Code Start Here */
#my-inspiration-section {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.my-inspiration-title {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.my-inspiration-title h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 24px;
}
.my-inspiration-title p {
  color: #0d1321b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}
.my-inspiration-iframe-video {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #0d1321a6;
  border-radius: 15px;
}
.my-inspiration-iframe-video iframe {
  width: 100%;
  height: 65vh;
  border-radius: 15px;
}
/* My Inspiration Section Code End Here */
/* My Current Target Section Code Start Here */
#my-current-target {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.my-current-target-title-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.my-current-target-title-container h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  color: #0d1321;
  padding-bottom: 24px;
  text-align: center;
}
.my-current-target-title-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  color: #0d1321b3;
}
.my-current-target-card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.my-current-target-card-one,
.my-current-target-card-two,
.my-current-target-card-three {
  width: 32%;
  padding: 30px 35px;
  text-align: justify;
  border-radius: 15px;
  box-shadow: 5px 5px 8px gray;
}
.my-current-target-card-one {
  background-color: #9c59b688;
}
.my-current-target-card-two {
  background-color: #54a1ff94;
}
.my-current-target-card-three {
  background-color: #1abc9c85;
}
.my-current-target-card-container h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  padding: 24px 0;
}
.my-current-target-card-container p {
  font-size: 16x;
  font-weight: 400;
  color: #0d1321b3;
  padding-bottom: 24px;
}
.my-current-target-card-container a {
  font-size: 16px;
  font-weight: 500;
  color: #222f3e;
  text-decoration: none;
  border-bottom: 2px solid #222f3e;
}
/* My Current Target Section Code End Here */
/* My Next Target Section Code Start Here */
#my-next-target {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-next-target-title-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.my-next-target-title-container h2 {
  font-size: 30px;
  font-weight: 700;
  color: #0d1321;
  margin-bottom: 24px;
}
.my-next-target-title-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0d1321;
}
.my-next-target-single-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border: 0.5px solid #0d1321b3;
  border-radius: 15px;
  padding: 40px 10px;
  margin-bottom: 24px;
}
.my-next-target-images-div img {
  width: 94px;
  height: 84px;
}
.my-next-target-text-div {
  width: 80%;
}
.my-next-target-text-div h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.my-next-target-text-div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 24px;
  color: #0d1321b3;
}
.my-next-target-text-div a {
  font-size: 16px;
  font-weight: 700;
  color: #222f3e;
  text-decoration: none;
  border-bottom: 2px solid #222f3e;
}

/* My Next Target Section Code End Here */
/* Feedback Submit Section Code Start Here */
#feedback-submit-section {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 15px;
}
.feedback-submit-title-container {
  padding-top: 80px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.feedback-submit-title-container h2 {
  font-size: 35px;
  font-weight: 100;
  line-height: 36px;
  padding-bottom: 18px;
}
.feedback-submit-title-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.feedback-submit-section-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.feedback-submit-section-input input {
  height: 50px;
  border-radius: 10px;
  border: none;
}
.feedback-submit-section-input input[type="text"] {
  width: 440px;
}
.feedback-submit-section-input input::placeholder {
  padding-left: 25px;
  font-size: 16px;
  font-weight: 400;
}
.feedback-submit-section-input input[type="submit"] {
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
/* Feedback Submit Section Code End Here */
/* Footer Section Code Start Here */
footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d132108;
  height: 100px;
  padding: 0 10%;
}
.footer-text-container p {
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
  padding-left: 20px;
}
.footer-icon-container img {
  margin-right: 15px;
}
/* Footer Section Code End Here */
